<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <table class="social-media-list">

          {% if site.github_username %}
          <tr>
            <td class="icon"><i class="fa fa-github"></i></td>
            <td>
              <a href="https://github.com/{{ site.github_username }}">
                <span class="username">{{ site.github_username }}</span>
              </a>
            </td>
          </tr>
          {% endif %}

          {% if site.twitter_username %}
          <tr>
            <td class="icon"><i class="fa fa-twitter"></i></td>
            <td>
              <a href="https://twitter.com/{{ site.twitter_username }}">
                <span class="username">{{ site.twitter_username }}</span>
              </a>
            </td>
          </tr>
          {% endif %}

          {% if site.flickr_username %}
          <tr>
            <td class="icon"><i class="fa fa-flickr"></i></td>
            <td>
              <a href="https://flickr.com/{{ site.flickr_username }}">
                <span class="username">{{ site.flickr_username }}</span>
              </a>
            </td>
          </tr>
          {% endif %}

          {% if site.fivehundredpx_username %}
          <tr>
            <td class="icon"><i class="fa fa-camera"></i></td>
            <td>
              <a href="http://500px.com/{{ site.fivehundredpx_username }}">
                <span class="username">500px.com/{{ site.fivehundredpx_username }}</span>
              </a>
            </td>
          </tr>
          {% endif %}

        </table>
      </div>

      <div class="footer-col footer-col-2">
        <p class="text">{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
